body {
    background-color: darkgray;
}

h2 {
    color: black;
    text-align: center;
}

div {
    color: whitesmoke;
}

h1 {
    color: darkgoldenrod;
    text-align: center;
}

h3 {
    color: black;
}
